# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pypi
*.egg-info/
.eggs/

# Virtualenv
.venv/
venv/
ENV/

# Streamlit
.streamlit/
!.streamlit/config.toml

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Quarto / outputs
.quarto/
_site/
*.pdf
*.log

# Allow html in docs for Github Pages
*.html
!docs/*.html

# Temp/archives
*.zip
*.tar.gz
